# Automatically determine text files and normalise endings in the repository.
* text=auto

# Shell scripts, etc. must have LF endings, even on Windows
*.sh text eol=lf
configure text eol=lf
pkgconfigure text eol=lf
*.pc text eol=lf

# NB Package-specific attributes should go in packages/NAME/.gitattributes,
# not here, in order to ensure that they survive packages being renamed.

# They are temporarily here, working around a bug in esy
packages/core/*/files/corebuild text eol=lf
packages/bap-llvm/*/files/detect.travis text eol=lf
packages/freetennis/*/files/freetennis text eol=lf
packages/ocamlfind/*/files/ocaml-stub text eol=lf

# Do not normalise patch files (opam will ensure that patch files are
# appropriately normalised for the target files, but direct calls to patch
# don't benefit from this)
*.patch -text
*.patch.in -text
*.diff -text
