language: c
script: bash -e .travis-ci.sh
os:
- linux
  env:
    matrix:
      - OCAML_VERSION=4.02.0 OPAM_VERSION=1.1.0
      - OCAML_VERSION=4.01.0 OPAM_VERSION=1.1.0
      - OCAML_VERSION=4.00.1 OPAM_VERSION=1.1.0
      - OCAML_VERSION=3.12.1 OPAM_VERSION=1.1.0
      - OCAML_VERSION=4.02.0 OPAM_VERSION=1.2.0
      - OCAML_VERSION=4.01.0 OPAM_VERSION=1.2.0
      - OCAML_VERSION=4.00.1 OPAM_VERSION=1.2.0
      - OCAML_VERSION=3.12.1 OPAM_VERSION=1.2.0
- osx
  env:
    matrix:
      - OCAML_VERSION=4.02.0 OPAM_VERSION=1.1.0
      - OCAML_VERSION=4.01.0 OPAM_VERSION=1.1.0
      - OCAML_VERSION=4.02.0 OPAM_VERSION=1.2.0
      - OCAML_VERSION=4.01.1 OPAM_VERSION=1.2.0
matrix:
  allow_failures:
    - env: OCAML_VERSION=4.02.0
    - os: osx
notifications:
  email:
    - opam-commits@lists.ocaml.org
  irc:
    - "chat.freenode.net#opam"
